html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

div {
    position: absolute;
}

.hidden {
    display: none;
}

#navbar {
    position:fixed;
    z-index:10;
}

#menuItensBar * {
    position: relative;
}

#menuItensBar {
    top:        477px;
    width:    11264px;
    height:     820px;
    background-color: rgb(249,247,245);
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.215, 0.610, 0.355, 1.000),
        top .6s ease-out;
}


#contentView {
    top:         50px;
    height:     697px;
    width:     1024px;
    overflow: hidden;
}

#backgroundAnimation {
    position: fixed;
    top: 50px;
    height:477px;
}

#setaEsquerda, #setaDireita {
    position: fixed;
    top: 592px;
    z-index:5;
    -webkit-transition: -webkit-transform 0.2s ease-out;
}

#setaEsquerda {left: 23px;}
#setaDireita {left: 983px;}
#tapToOpen {
    position:fixed; 
    left: 418px; 
    top: 703px;
    z-index:5;
    -webkit-transition:opacity .2s linear;
}

#contentView.contentMode #setaEsquerda { -webkit-transform: translateX(-50px); }
#contentView.contentMode #setaDireita { -webkit-transform: translateX(50px); }

#contentView.contentMode #tapToOpen {opacity:0}

.menuItem {
    width: 1024px;
    float:left;
}
#contentView.contentMode {
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}


